.wrapper
  .main-chat
    .main-chat__group-info
      .info-block
        .info-block__group-name test
        .info-block__member-name member-name
      = link_to "#", class: "edit-btn" do
        Edit
    .main-chat__message-list
      .message-block
        .massage-data
          .massage-data__messenger taro
          .massage-data__data-and-time 2020/01/01
        .message hello
      .message-block
        .massage-data
          .massage-data__messenger taro
          .massage-data__data-and-time 2020/01/01
        .message hello
      .message-block
        .massage-data
          .massage-data__messenger taro
          .massage-data__data-and-time 2020/01/01
        .message hello
    .main-chat__message-form
      = form_for [@group, @message] do |f|
        .form-box
          .form
            .text-box
              = f.text_field :body, class: 'message-form', placeholder: 'type a message'
              = f.label :image, class: 'photo-icon' do
                %i.far.fa-image
                = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'send-btn'